body, html {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  width: 20vw;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, .1);
  border: 0 solid;
  color: white;
  text-align: center;
}

button {
  padding: 0.5rem;
  width: 20vw;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, .6);
  border: 0 solid;
  color: white;
  text-align: center;
}